@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1602583024350'); /* IE9 */
  src: url('iconfont.eot?t=1602583024350#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK8AAsAAAAABmwAAAJwAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp4gRYBNgIkAwgLBgAEIAWEbQcwG7wFyB6SJEWqlEARqPadAQgQQbRWVs/MIypE+RJQAypyGCBh3iYs3cUIAsk6epfWNAU06rpNlliNSBX1Q+6B8zdWQJKNYSHJgpCbcNSQmqjCD66p/wuPxDyguUQERSVHAg5sOsCoopFtIEPfMHaBSzhOoNmQvMjW4voA0gprXCDuGpoE6ZxXUViiUaivWVrEG3Ua09P0AbwOvx//VCNNUpdZJbsXCypM/3xkp+Tb6taJj/AR0Oo6ZCwAhTisjW6LCUaOaY7GjYF9FQY/g6ryLWKvRsH+Oiu/FQxA0T2JXcmt5idQ4u4xYGXUraT+1r3R88f48GH07t3g/fvh84+rw5vnd/v08eM4K6iY/uFDa3rl/E1+yujGzt/WxGzDc80jnNdetupeT73xPn42eeumO+dvrHQ3ShkRK3JXYVM+HAtrAFWV9/OP+42VH/t5x9L/dEsBX+/6D0dUVYEMjbu3Bb9J3LOp6FLLnIoqrrUnY6PGJjRrRgU7u32P1fXdUzI06rsze4PBFLJGE2jBL0CdFotQr9EqNJu3tLpFDxITpQlzjgGETk+QtKtB1ukTLfgvqNPvB+p1RgyaHUfPli2mwshuEkoCVSbvMEPxXO5YRTYq7KG2YUuUlYbMEVJoBFilWC4mltBFmmNGuKlVheCMk+ewRXAa2rbHfPJMVERRF8Lvlkq87k1FxXMgaxNBEgGpGNkOxqDwuLjfWciWPt+DNBtsEmopq/GOIBIyemcqiso90CWV26vsXl4JbdJUCQLHcMTjYBbBIGSzeRi/fpAJKYQifUTY11Wy2/G+quL6GucDClkVlj6F3S+rf4ISKToAAA==') format('woff2'),
  url('iconfont.woff?t=1602583024350') format('woff'),
  url('iconfont.ttf?t=1602583024350') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1602583024350#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e671";
}

